.container{
    color: black;
    margin-top: 470px;
    margin-left: 60px;
}

.container .desc{
    font-size: large;
    margin-bottom: 10px;   
}

.container .desc p{
}


.container .images{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
}

.container .images >*{ 
    object-fit:cover;
}

