.container.light{
    color: black;
    margin-left: 60px;
}

.container.dark{
    color: white;
    margin-left: 60px;
}

.container .desc{
    font-size: large;
    margin-bottom: 400px;
    margin-top: 90px;
}

.container .desc p{
    margin-left: 20%;
    margin-right: 20%;
}


.container .images{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
}

.container .images >*{
    margin-bottom: 20px;
    max-height: 700px; 
    object-fit:contain;
}

